.fa {
    cursor:pointer;
}
.fa:hover {
    opacity: 0.7;
}

/* Twitter */
.fa-twitter, .fa-download {
    font-size: 20px;
    color: #55ACEE;
}
.otherTweet {
    color: lightblue;
}


.section-search input.autocomplete {
    color: #55ACEE;
}
.input-field .prefix.active {
    color: #55ACEE!important;
}
.dropdown-content li>a, .dropdown-content li>span {
    color: #55ACEE!important;
}
.github-corner > svg {
    left:0;
    transform: scale(-0.5, 0.5);
    margin-left: -20px;
    margin-top: -20px;
}

.fa-star {
    color: gray;'
}
.isFavorite {
    color: #ffab40 !important;
}
.hidden {
    opacity: 0;
}
