<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:v="http://www.w3.org/1999/xhtml">
<head>
    <!--
    ________________________________________________________________________________________________________________________________________________________________
________________________________________________________________________________________________________________________________________________________________
________________________________________________________________________________________________________________________________________________________________
________________________________________________________________________________________________________________________________________________________________
________________________________________________________________________________________________________________________________________________________________
________________________________________________________________________________________________________________________________________________________________
_________________WX0kdddxkOXW________WN0kxdddxOKWW________________________WNXXXNNWW_____________________________WWWNNXXXXXXXXNNWWW______________________________
_______________WOoccldxkxdlloON____W0dlloxkkxdlclkN_______________WNXXNWNX0OOOOOO0KXNXXKXXW__________________WNXXKKKKKKKKKKKKKKKKXXNW___________________________
______________Ko;cxOKKKKKK0kdcckNW0l:lk0KXXXXXKOo;cOW_______WXXXXK0OOOO000000000000OOOOOOO0XW______________WNKKKKKKKKKKKKKKKKKKKKKKKXNW_________________________
_____________Xl,cxxxxxxxxxxxxdc;lo;:oxxxxxxkkkkkkd;;OW____WX0OOOO0000000000000000000000000OOX____________WXK0KK0OkxxOKKKKKKKKKKKKKKKKKKNW_______________________
____________Wx';ooooooooollllllc,,:lllooooooooddddc'lN____NOO000000000000000000000000000000OOX__________NKKK0koc:::cxKKKKKKKKKKKKKKKKKKKXNW_____________________
____________No.:llllccccccccccc::::cccccccccclllloc,cK___W0O0000000000000000000000000000000OO0N_______WNKK0xc;:oxO000KKKKK0xlllooxO0KKKKKKN_____________________
____________Wd';ccccc::::::::::::::::::::::::::ccc:,lX___XO00000000000000000000000OO00000000OOKW______NK0Kkc:dOKKKKKKKKKKK0dlollc:;cdOKKKKKN____________________
_____________O;';:::::::::::::::::::::::::::::::::;,xW__N0O0000OO000000OO000000000OOO000000OOOOX_____WXKKK0O0KKOdllx0K0KKKKKKK000Oxc;o0KKK0XW___________________
_____________Nd'';;;;;;;;;:::::::::::::::;;;;;;;;;'lX___XO00000OO000000OO0000000000OO00000OOOOkKW____NKKKKKKKK0l''';xKKKKKK0xlc:clxOkO0KKKKKN___________________
______________Xo'',,,;;;;;;;::::::::::::;;;;;;;,,':0___WKO0000OO0000000OO0000000000OO00000OOOOkON____X0KKKKKKKOc''',o0KKKKkl;;:::;;lOKKKKKKKN___________________
_______________Xo'.'',,;;;;;;::::::::::;;;;;,,,''cK____W0O0000OO0000000OO0000000000OO0000OOOOkkkK____XKKKKKKKK0x:,,lkKKKKKOxk0000OkxOKKKKKKKN___________________
________________Nx,..'',,,;;;::::::::::;;;;,,'',oX_____WKkO000OO0000000OO0000000000OkO0OOOOOOOkk0W___NKKKKKKKKK0Okk0KKKKKKKKKKKKKKKKKKKKKKKKN___________________
_________________W0c'.''',,;;;:::::::::;;,,''':kN_______XOOO00OO0000000OO0000000000OkOOOOOOOOOkkON___WXKKKKKKKKKKK000KKKKKKKK000K0KKKKKKKKKXW___________________
___________________Nx;...'',,;;::::::;;;,''.,oKW________WNKKK00OOO0000OkkO000O0OOO0OkOOOOOOOOkkkON____NKKKKKKKKK0KOocoodddoolcd0KKKKKKKKKKKN____________________
_____________________Xd,..''',,;;;;;;;,,'.'l0W_______________WWNX00000KK0OOOOOOOOOOOkkOOOOOOkkkk0N____WXKKKKKKKKKK0k:''''''',ckKKKKKKKKK0KN_____________________
______________________W0l'..''',,,,,,,'.'cON______________________WWWW__WXOkOOOOOkkkOOOkkkkkkkkkX______WNKKKKKKKKKKKOxlc::cox0KKKKKKKKKKKN______________________
________________________W0l'...''''''.':kN_______________________________W0kkkkkkkOOOOOOOOOOOkkKW________WXKKKKKKKKKKKK0000KKKKKKKKKKKKXW_______________________
__________________________NOc'.......;xN__________________________________N0OkkkkkOOOO0OOOkkOOXW__________WNXKKKKKKKKKKKKKKKKKKKKKKKKXWW________________________
____________________________NOc'...;xX_____________________________________WNXXXXXNNWWWWWNXXNW_______________WNXKKKKKKKKKKKKKKKKKKXNW___________________________
______________________________Nkc:dX____________________________________________________________________________WWNXXXXXKKXXXXNNWW______________________________
________________________________NNW____________________________________________________________________________________WWWW_____________________________________
________________________________________________________________________________________________________________________________________________________________
________________________________________________________________________________________________________________________________________________________________
________________________________________________________________________________________________________________________________________________________________
________________________________________________________________________________________________________________________________________________________________
________________________________________________________________________________________________________________________________________________________________
________________________________________________________________________________________________________________________________________________________________
    -->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="index.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/vue-router"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>

    <link rel="shortcut icon" href="/v1/icons/196.png" sizes="196x196">
    <link rel="shortcut icon" href="/v1/icons/32.png" sizes="32x32">
    <link rel="shortcut icon" href="/v1/icons/16.png" sizes="16x16">

    <link rel="apple-touch-icon" href="/v1/icons/apple-touch-icon-180.png">
    <link rel="apple-touch-icon" href="/v1/icons/apple-touch-icon-167.png" sizes="167x167">
    <link rel="apple-touch-icon" href="/v1/icons/apple-touch-icon-152.png" sizes="152x152">

    <meta name="msapplication-square70x70logo" content="/v1/icons/70.png">
    <meta name="msapplication-square150x150logo" content="/v1/icons/150.png">
</head>
<body>
<div id="app" >
    <div id="keywordsModal" class="modal">
        <div class="modal-content">
            <h6>Top 10 Tags</h6>
            <div class="collection">
                <a class="collection-item" v-for="(count, keyword) in keywords"
                   style="cursor: pointer" v-on:click="searchForKeyword(keyword)">
                    <span class="badge">{{ count }}</span>
                    {{ keyword }}
                </a>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Schließen</a>
        </div>
    </div>
    <div id="aboutModal" class="modal">
        <div class="modal-content">
            <div class="row">
                <div class="col-sm-2 col-sm-offset-5 text-center">
                    <img src="/v1/icons/196.png" center-align />
                </div>
            </div>
            <div class="row">
                <p>
                    neomagazinultras.de ist eine Fanseite für alle Anhänger des Böhmi-Fandoms.
                    Diese Webseite durchsucht Timelines von bestimmten bekannten Twitter-Usern,
                    speichert sich den Text der Tweets sowie das zugehörige GIF in einer Lucene
                    Datenbank und zeigt diese dann auf dieser Webseite an.
                    <br>
                    <br/>
                    <i class="fa fa-camera"></i> Logo by <a href="https://twitter.com/Icanfindafaith">@Icanfindafaith</a>
                    <br/>
                    <i class="fa fa-code"></i> Code by <a href="https://twitter.com/ddkfm">@DDKFM</a>
                    <br/>
                    <i class="fa fa-github"></i>  <a href="https://github.com/DDKFM/BoehmiDataPreservation">Github Repository</a>
                </p>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Schließen</a>
        </div>
    </div>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large blue">
            <i class="fa fa-bars"></i>
        </a>
        <ul>
            <li>
                <a class="hidden btn-floating btnwaves-effect waves-light blue" v-on:click="showFavorites()" title="zu Favoriten wechseln">
                    <i class="fa fa-star" v-bind:class="[showOnlyFavorites ? 'isFavorite' : '']"></i>
                </a>
            </li>
            <li>
                <a class="hidden btn-floating btnwaves-effect waves-light blue" title="Tap" v-on:click="showKeywords()">
                    <i class="fa fa-tags"></i>
                </a>
            </li>
            <li>
                <a class="hidden btn-floating btnwaves-effect waves-light blue" title="Tap" v-on:click="showAbout()">
                    <i class="fa fa-info"></i>
                </a>
            </li>
            <li>
                <a class="hidden btn-floating btnwaves-effect waves-light red" v-on:click="openAddGifModal()" title="GIF hinzufügen">
                    <i class="fa fa-plus"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="modal" id="mdAddGif">
        <div class="modal-content">
            <h5>GIF hinzufügen</h5>
            <input type="text" placeholder="Tweet Link" v-model="addingTweetUrl"/>
            <div class="chips">
                <div class="chip" v-for="keyword in addingKeywords">
                    {{ keyword }}
                    <i class="close material-icons" v-on:click="addingKeywords.splice( addingKeywords.indexOf(keyword), 1 );">close</i>
                </div>
                <input class="input" placeholder="+Tag" id="newKeyword_create" v-on:keyup.enter="addKeywordtoCreate">
            </div>
        </div>
        <div class="modal-footer">
            <a class="modal-close waves-effect waves-light btn blue">Abbrechen</a>
            <a v-on:click="addGif" class="modal-close waves-effect waves-light btn red">GIF hinzufügen</a>
        </div>
    </div>
    <nav class="transparent">
        <div class="row">
            <div class="input-field col s9 offset-s1">
                <input type="text" class="autocomplete " autocomplete="off" v-model="searchQuery" id="autocomplete-input" placeholder="GIF-Suche" v-on:keyup.enter="sendRequest(limit, 0)">
            </div>
            <div class="col s1">
                <a class="btn-floating btnwaves-effect waves-light blue" v-on:click="sendRequest(limit, 0)" title="Suchen">
                    <i class="fa fa-search"></i>
                </a>
                <div class="preloader-wrapper small active" style="vertical-align: middle">
                    <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col m8 offset-m2">
            <ul class="pagination" id="paging" class="blue">
                <li class="waves-effect" v-if="pageCount">
                    <a v-on:click="sendRequest(limit, prevPage())">
                        <i class="material-icons">chevron_left</i>
                    </a>
                </li>
                <li v-for="page in pageBorder()" v-bind:class="[page == currentPage ? 'active blue' : 'waves-effect']">
                    <b v-if="page == pageCount - 1">|</b>
                    <a v-on:click="sendRequest(limit, page)">
                        {{ page }}
                    </a>
                    <b v-if="page == 0">|</b>
                </li>
                <li class="waves-effect" v-if="pageCount">
                    <a v-on:click="sendRequest(limit, nextPage())">
                        <i class="material-icons">chevron_right</i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col m10 offset-m1">
            <div class="card col" v-for="gif of gifs" style="margin: 10px;max-width: 500px;padding: 0">
                <div class="card-image">
                    <video autoplay loop autobuffer muted
                           width="100%"
                           v-bind:poster="gif.posterUrl"
                           v-bind:src="getImageData(gif.url, 'mp4')"
                           type="video/mp4">
                    </video>
                </div>
                <div class="card-content">
                    <div class="chips">
                        <div class="chip" v-for="keyword in gif.keywords">
                            {{ keyword }}
                            <i class="close material-icons" v-on:click="onDelete(gif, keyword)">close</i>
                        </div>
                        <input class="input" placeholder="+Tag" v-bind:id="getTweetId(gif.url)" v-on:keyup.enter="onEnter(gif)">
                    </div>
                </div>
                <div class="card-action">
                    <a v-on:click="addAsFavorite(gif)" title="Favorit">
                        <i class="fa fa-star" v-bind:class="[isGifFavorite(gif) ? 'isFavorite' : '']"></i>
                    </a>
                    <a v-bind:href="getImageData(gif.url, 'mp4')"
                       v-bind:download="getImageFilename(gif.url, 'mp4')"
                       title="als Video downloaden">
                        <i class="fa fa-download"></i>
                    </a>
                    <a v-bind:href="getImageData(gif.url, 'gif')"
                       v-bind:download="getImageFilename(gif.url, 'gif')"
                       title="als GIF downloaden">
                        <i class="fa fa-picture-o" style="color: green"></i>
                    </a>
                    <a v-bind:data-clipboard-text="getWebUrl(gif)" v-on:click="copyToClipboard(gif)"
                       title="copy Link" class="clipboard-element">
                        <i class="fa fa-clipboard" style="color: lightgray"></i>
                    </a>

                    <a v-on:click="openMigrationModal(gif)"
                       title="Verschiebe zu anderem System" v-if="federatedSystems.length > 0">
                        <i class="fa fa-exchange" style="color: black"></i>
                    </a>
                    <a v-for="otherUrl in gif.tweetUrls"
                       v-bind:href="otherUrl"
                       title="Link zum Tweet" target="_blank">
                        <i class="fa fa-twitter otherTweet"></i>
                    </a>
                    <a title="Gif löschen" v-on:click="openModal(gif)">
                        <i class="material-icons" style="float: right; color: red; font-weight: bold; cursor: pointer">close</i>
                    </a>
                    <div v-bind:id="getTweetId(gif.url) + '_modal'" class="modal">
                        <div class="modal-content">
                            <h5>Löschen von GIF {{ getTweetId(gif.url) }}</h5>
                            <p>Möchtest du dieses Gif wirklich löschen?</p>
                        </div>
                        <div class="modal-footer">
                            <a class="modal-close waves-effect waves-light btn blue">Nicht löschen</a>
                            <a v-on:click="deleteGif(gif)" class="modal-close waves-effect waves-light btn red">Löschen</a>
                        </div>
                    </div>
                    <div v-bind:id="getTweetId(gif.url) + '_migrate_modal'" class="modal">
                        <div class="modal-content">
                            <h5>In welches Fandom willst du das GIF verschieben?</h5>
                            <ul class="collection blue-text">
                                <li v-for="system in federatedSystems"
                                   v-on:click="migrateToSystem(gif, system)"
                                   class="collection-item blue-text avatar"
                                   style="cursor: pointer">
                                    <img v-bind:src="'/v1/icons/federations/' + system.id + '/70.png'" class="circle"/>
                                    <span class="title">{{ system.name }}</span>
                                    <p>
                                        {{ system.url }}
                                    </p>
                                </li>
                            </ul>
                            <div class="progress" v-if="migrationInProgress">
                                <div class="indeterminate"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row s12">

        <div class="col m8 offset-m2">
            <ul class="pagination" id="paging" class="blue">
                <li class="waves-effect" v-if="pageCount">
                    <a v-on:click="sendRequest(limit, prevPage())">
                        <i class="material-icons">chevron_left</i>
                    </a>
                </li>
                <li v-for="page in pageBorder()" v-bind:class="[page == currentPage ? 'active blue' : 'waves-effect']">
                    <b v-if="page == pageCount - 1">|</b>
                    <a v-on:click="sendRequest(limit, page)">
                        {{ page }}
                    </a>
                    <b v-if="page == 0">|</b>
                </li>
                <li class="waves-effect" v-if="pageCount">
                    <a v-on:click="sendRequest(limit, nextPage())">
                        <i class="material-icons">chevron_right</i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
<script src="index.js" type="text/javascript"></script>
</html>
